<div class="content-wrapper">
  <div class="container-fluid">
    <!-- Breadcrumbs-->
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a routerLink="/dashboard">Dashboard</a>
      </li>
      <li class="breadcrumb-item">
        <a routerLink="/prenotation">Prenotazioni</a>
      </li>
      <li class="breadcrumb-item active">Nuova prenotazione (add)</li>
    </ol>
    <div class="row">
      <div class="col-12">
        <form>

          <div class="form-group row">
            <label for="staticName" class="col-sm-2 col-form-label"><b>Nome game</b></label>
            <div class="col-sm-10">
              <input class="form-control" type="text" name="name" id="staticName" [(ngModel)]="prenotation.name" placeholder="Nome partita">
            </div>
          </div>

          <div class="form-group row">
            <label for="staticData" class="col-sm-2 col-form-label"><b>Data</b></label>
            <div class="col-sm-5">
              <div class="form-group">
                <div class="input-group">
                  <input class="form-control" id="staticData" placeholder="{{prenotation.start | date: 'dd/MM/yyyy'}}"
                         name="d2" #c2="ngModel"
                         [navigation]="arrows"
                         [startDate]="today"
                         [minDate]="today"
                         [(ngModel)]="startDate"
                         value="{{startDateFormatted | date:'dd/MM/yyyy'}}"
                         (ngModelChange)="calendarSelect($event)"
                         (click)="d2.toggle()"
                         ngbDatepicker
                         #d2="ngbDatepicker">
                  <div class="input-group-append">
                    <button class="btn btn-outline-secondary" (click)="d2.toggle()" type="button">
                      <i class="fa fa-calendar"></i>
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="form-group row">
            <label for="staticCampo" class="col-sm-2 col-form-label"><b>Campo</b></label>
            <div class="col-sm-10">
              <select class="custom-select" name="playground" id="staticCampo"
                      [(ngModel)]="prenotation.playground_id"
                      (ngModelChange)="playgroundSelected()">
                <option *ngFor="let p of playgrounds" value="{{p.id}}">{{p.name}}</option>
              </select>
            </div>
          </div>

          <div class="form-group row">
            <label class="col-sm-2 col-form-label"><b>Orario</b></label>
            <div class="col-sm-5">

              <div class="input-group">
                <div class="input-group-prepend">
                  <label class="input-group-text" for="inizioPartita">Inizio</label>
                </div>
                <select class="custom-select" id="inizioPartita" name="start"
                        [(ngModel)]="prenotation.start"
                        (ngModelChange)="startTimeSelect($event)">
                  <option *ngFor="let t of startTimes" value="{{t.value}}">{{t.label}} <span *ngIf="t.occupied"> - occupato</span></option>
                </select>
              </div>
            </div>

            <div class="col-sm-5">
              <div class="input-group">
                <div class="input-group-prepend">
                  <label class="input-group-text" for="finePartita">Fine</label>
                </div>
                <select class="custom-select" id="finePartita" name="end"
                        [(ngModel)]="prenotation.end">
                  <option *ngFor="let t of endTimes" value="{{t.value}}">{{t.label}} <span *ngIf="t.occupied"> - occupato</span></option>
                </select>
              </div>
            </div>

          </div>

          <div class="form-group row">
            <label for="staticUtente" class="col-sm-2 col-form-label"><b>Utente</b></label>
            <div class="col-sm-10">
              <select name="user" id="staticUtente" class="custom-select"
                      [(ngModel)]="prenotation.user_id"
                      (ngModelChange)="removeUserFromList($event)">
                <option *ngFor="let u of users" value="{{u.id}}">{{u.name}} {{u.surname}} -- {{u.phone}}</option>
              </select>
            </div>
          </div>

          <fieldset>
            <legend>Filtri scelta utenti</legend>
            <div class="row form-group">
              <label for="filterFriends" class="col-sm-2 col-form-label text-right">Amici</label>
              <div class="col-sm-2">
                <select name="filterFriends" id="filterFriends" class="custom-select"
                        [(ngModel)]="filters.friend"
                        (ngModelChange)="filtersChange($event, 'friend')">
                  <option value="all">Tutti</option>
                  <option value="amici">Amici</option>
                </select>
              </div>

              <label for="filterLevel" class="col-sm-2 col-form-label text-right">Livello</label>
              <div class="col-sm-2">
                <select name="filterLevel" id="filterLevel" class="custom-select"
                        [(ngModel)]="filters.level"
                        (ngModelChange)="filtersChange($event, 'level')">
                  <option value="all">Tutti</option>
                  <option value="uguale">Stesso livello</option>
                  <option value="sup">Livello superiore</option>
                  <option value="inf">Livello inferiore</option>
                </select>
              </div>

              <label for="filterSex" class="col-sm-2 col-form-label text-right">Sesso</label>
              <div class="col-sm-2">
                <select name="filterSex" id="filterSex" class="custom-select"
                        [(ngModel)]="filters.sex"
                        (ngModelChange)="filtersChange($event, 'sex')">
                  <option value="all">Tutti</option>
                  <option value="M">Uomo</option>
                  <option value="F">Donna</option>
                </select>
              </div>
            </div>
          </fieldset>



          <div class="form-group row" style="margin: 20px 0;">
            <div class="col-sm-6">
              <div class="row">
                <div style="margin: 10px 0" class="col-sm-12">
                  <div class="row">
                    <label for="staticPlayer2" class="col-sm-4 col-form-label"><b>Player 2</b></label>
                    <div class="col-sm-8">
                      <!--<select name="player_2" id="staticPlayer2" class="custom-select"
                              [(ngModel)]="prenotation.player_2"
                              (ngModelChange)="removeUserFromList($event)">
                        <option *ngFor="let u of filterUsers" [disabled]="u.disabled" value="{{u.id}}">{{u.name}} {{u.surname}} &#45;&#45; {{u.phone}}</option>
                      </select>-->
                      <div [dragula]='"bag"' [dragulaOptions]="options" [dragulaModel]="players.player_2" style="border: 1px solid #eee; min-height: 40px;">
                        <span class="btn btn-success player-selected" *ngIf="players.player_2.length">{{players.player_2[0].name}} {{players.player_2[0].surname}} -- {{players.player_2[0].phone}}</span>
                      </div>
                    </div>
                  </div>
                </div>

                <div style="margin: 10px 0" class="col-sm-12">
                  <div class="row">
                    <label for="staticPlayer3" class="col-sm-4 col-form-label"><b>Player 3</b></label>
                    <div class="col-sm-8">
                      <!--<select name="player_3" id="staticPlayer3" class="custom-select"
                              [(ngModel)]="prenotation.player_3"
                              (ngModelChange)="removeUserFromList($event)">
                        <option *ngFor="let u of filterUsers" [disabled]="u.disabled" value="{{u.id}}">{{u.name}} {{u.surname}} &#45;&#45; {{u.phone}}</option>
                      </select>-->
                      <div [dragula]='"bag"' [dragulaOptions]="options" [dragulaModel]="players.player_3" style="border: 1px solid #eee; min-height: 40px;">
                        <span class="btn btn-success player-selected" *ngIf="players.player_3.length">{{players.player_3[0].name}} {{players.player_3[0].surname}} -- {{players.player_3[0].phone}}</span>
                      </div>
                    </div>
                  </div>
                </div>

                <div style="margin: 10px 0" class="col-sm-12">
                  <div class="row">
                    <label for="staticPlayer4" class="col-sm-4 col-form-label"><b>Player 4</b></label>
                    <div class="col-sm-8">
                      <!--<select name="player_4" id="staticPlayer4" class="custom-select"
                              [(ngModel)]="prenotation.player_4"
                              (ngModelChange)="removeUserFromList($event)">
                        <option *ngFor="let u of filterUsers" [disabled]="u.disabled" value="{{u.id}}">{{u.name}} {{u.surname}} &#45;&#45; {{u.phone}}</option>
                      </select>-->
                      <div [dragula]='"bag"' [dragulaOptions]="options" [dragulaModel]="players.player_4" style="border: 1px solid #eee; min-height: 40px;">
                        <span class="btn btn-success player-selected" *ngIf="players.player_4.length">{{players.player_4[0].name}} {{players.player_4[0].surname}}  -- {{players.player_4[0].phone}}</span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-sm-4 offset-1" style="overflow-y: auto; max-height: 250px;">
              <div class="user-container" [dragula]='"bag"' [dragulaOptions]="options" [dragulaModel]="filterUsers" style="border: 1px solid #eee;  padding: 10px 0;">
                <span class="list-unstyled" *ngFor="let u of filterUsers">
                  <a class="btn btn-primary" [ngClass]="{'hidden': u.disabled == true}" style="width: 100%; margin: 2px 0">{{u.name}} {{u.surname}}</a>
                </span>
              </div>
            </div>
          </div>








          <div class="form-group row">
            <label for="note" class="col-sm-2 col-form-label"><b>Note</b></label>
            <div class="col-sm-10">
              <textarea name="note" class="form-control" id="note" [(ngModel)]="prenotation.note"></textarea>
            </div>
          </div>

          <div class="form-group row">
            <div class="col-sm-10">
              <a class="btn btn-primary" (click)="savePrenotation()">Salva</a>
              <a class="btn btn-warning" routerLink="/prenotation">Annulla</a>
            </div>
          </div>

        </form>
      </div>
    </div>
  </div>
</div>
