<div class="content-wrapper">
  <div class="container-fluid">
    <!-- Breadcrumbs-->
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a routerLink="/dashboard">Dashboard</a>
      </li>
      <li class="breadcrumb-item active">Prodotti</li>
    </ol>
    <!-- Example DataTables Card-->
    <div class="card mb-3">
      <div class="card-header">
        	<span class="float-left">
            	<i class="fa fa-table"></i> Prodotti
            </span>
        <span class="float-right">
            	<a routerLink="/product/add"><i class="fa fa-plus-circle"></i> Add</a>
            </span>


      </div>
      <div class="card-body">
        <div class="table-responsive">
          <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
            <thead>
            <tr>
              <th>Immagine</th>
              <th>Nome</th>
              <th>Prezzo</th>
              <th>Azioni</th>
            </tr>
            </thead>

            <tbody>
            <tr *ngFor="let p of productList | slice:startIndex:lastIndex">
              <td class="align-middle text-center">
                <img src="./assets/img/placeholders/product.jpg" class="img-thumbnail" *ngIf="!p.hasImage" style="height: 60px;">
                <img *ngIf="p.hasImage" src="{{p.imageUrl}}" class="img-thumbnail" style="height: 60px;">
              </td>
              <td class="align-middle">{{p.name}}</td>
              <td class="align-middle">€ {{p.price}}</td>
              <td class="align-middle text-center">
                <a class="mr-3" routerLink="/product/view/{{p.id}}"><i title="Visualizza" class="fa fa-eye text-primary"></i></a>
                <a class="mr-3" routerLink="/product/edit/{{p.id}}"><i title="Modifica" class="fa fa-pencil-square-o text-success"></i></a>
                <a (click)="openModal(p)"><i title="Elimina" class="fa fa-trash-o text-danger"></i></a>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
        <app-paginator></app-paginator>
      </div>

    </div>
  </div>
</div>
