<div class="content-wrapper">
  <div class="container-fluid">
    <!-- Breadcrumbs-->
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a routerLink="/dashboard">Dashboard</a>
      </li>
      <li class="breadcrumb-item active">Campi</li>
    </ol>
    <!-- Example DataTables Card-->
    <div class="card mb-3">
      <div class="card-header">
        <span class="float-left">
          <i class="fa fa-table"></i> Campi
        </span>
        <span class="float-right">
          <a routerLink="/playground/add"><i class="fa fa-plus-circle"></i> Add</a>
        </span>
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
            <thead>
            <tr>
              <th>#</th>
              <th>Nome</th>
              <th>Attività</th>
              <th>Tipo</th>
              <th>Abilitato</th>
              <th>Visibile</th>
              <th>Azioni</th>
            </tr>
            </thead>

            <tbody>
            <tr *ngFor="let p of playgroundList | slice:startIndex:lastIndex" [ngClass]="{'table-warning': p.visible == 0 || p.enabled == 0, 'table-danger': p.isremoved == 1}">
              <td>{{p.id}}</td>
              <td>{{p.name}}</td>
              <td>Padel</td>
              <td>-</td>
              <td><span *ngIf="p.enabled">Si</span><span *ngIf="!p.enabled">No</span></td>
              <td><span *ngIf="p.visible">Si</span><span *ngIf="!p.visible">No</span></td>
              <td>
                <a class="mr-3" routerLink="/playground/view/{{p.id}}"><i title="Visualizza" class="fa fa-eye text-primary"></i></a>
                <a class="mr-3" routerLink="/playground/edit/{{p.id}}"><i title="Modifica" class="fa fa-edit text-success"></i></a>
                <a style="cursor: pointer" (click)="openModal(p)"><i title="Elimina" class="fa fa-trash-o text-danger"></i></a>
              </td>
            </tr>

            </tbody>
          </table>
        </div>

        <app-paginator></app-paginator>

      </div>

    </div>
  </div>
</div>
