<div class="row">
  <div class="col-sm-3">
    <p class="pull-left">Pagina corrente: {{page}}</p>
  </div>
  <div class="col-sm-9">
    <ngb-pagination class="d-flex justify-content-end"
                    [collectionSize]="numitems"
                    [pageSize]="pagesize"
                    [(page)]="page"
                    (pageChange)="loadPage($event)">
    </ngb-pagination>
  </div>
</div>
