<div class="content-wrapper">
  <div class="container-fluid">
    <!-- Breadcrumbs-->
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a routerLink="/dashboard">Dashboard</a>
      </li>
      <li class="breadcrumb-item">
        <a routerLink="/order">Ordini</a>
      </li>
      <li class="breadcrumb-item active">Nuovo ordine (add)</li>
    </ol>
    <div class="row">
      <div class="col-12">
        <div class="col-12">
          <div class="card mb-3">
            <div class="card-header">
              Nuovo ordine
            </div>
            <div class="card-body">
              <div class="row">
                <div class="col-12 col-sm-6">
                  <h5 class="card-title">Utente</h5>
                  <p class="card-text">
                    <select name="user" id="user" [(ngModel)]="order.user_id">
                      <option *ngFor="let u of users" value="{{u.id}}">{{u.name}} {{u.surname}}</option>
                    </select>
                  </p>
                </div>
                <div class="col-12 col-sm-6">
                  <h5 class="card-title">Ordine pagato</h5>
                  <p class="card-text">
                    <input type="checkbox" name="paid" [checked]="order.paid" [(ngModel)]="order.paid"/>
                  </p>
                </div>
              </div>

              <hr/>

              <div class="row">
                <div class="col-12 col-sm-6">
                  <h5 class="card-title">Partita</h5>
                  <p class="card-text">
                    <select name="game" id="game" [(ngModel)]="order.game_id">
                      <option *ngFor="let g of prenotations" value="{{g.id}}">{{g.user.name}} {{g.user.surname}} - {{g.start | date:'dd/MM/yyyy HH:mm'}} - {{g.end | date:'HH:mm'}} - {{g.playground.name}}</option>
                    </select>
                  </p>
                </div>
              </div>

              <hr/>

              <div class="row">
                <div class="col-12 col-sm-6">
                  <h5 class="card-title">Aggiungi prodotto</h5>
                  <p class="card-text">
                    <select name="product" id="product" [(ngModel)]="tmpProd.product_id">
                      <option *ngFor="let p of products" value="{{p.id}}">{{p.name}} {{p.description}} - &euro; {{p.price}}</option>
                    </select>

                    <input type="number" name="qty" [(ngModel)]="tmpProd.qty" placeholder="quantit&agrave;">
                  </p>
                  <button class="btn btn-success" (click)="addProduct()">Aggiungi prodotto</button>
                </div>
              </div>

              <hr/>

              <div class="row" style="margin-top: 32px;">
                <div class="col-12">
                  <h5 class="card-title">Riepilogo dell&rsquo;ordine</h5>
                  <table class="table table-bordered">

                    <tbody>
                    <tr *ngFor="let p of order.products">
                      <th scope="row" class="align-middle text-center">
                        <img src="./assets/img/placeholders/product.jpg" class="img-fluid" style="height:60px;" *ngIf="!p.hasImage">
                        <img src="{{p.imageUrl}}" class="img-fluid" style="height:60px;" *ngIf="p.hasImage">
                      </th>
                      <td class="align-middle">{{getProductName(p)}}</td>
                      <td class="align-middle">Quantità: <input readonly class="form-control-plaintext" type="number" name="qty" [(ngModel)]="p.qty"></td>
                      <td class="align-middle text-right"> € {{getPartialPrice(p)}}</td>
                      <td class="align-middle text-center"><a (click)="removeOrderElement(p)" style="cursor: pointer;"><i title="Elimina" class="fa fa-trash-o text-danger"></i></a></td>
                    </tr>
                    </tbody>
                  </table>
                </div>
              </div>


              <div class="row justify-content-end">
                <div class="col-6">
                  <ul class="list-group list-group-flush">
                    <li class="list-group-item d-flex justify-content-between align-items-center"><b>TOTALE:</b> <span><b>€ {{getOrderPrice(order)}}</b></span></li>
                  </ul>
                </div>
              </div>


            </div>
          </div>
          <div class="form-group row">
            <div class="col-sm-10">
              <a (click)="saveOrder()" class="btn btn-primary">Salva</a>
              <a routerLink="/order" class="btn btn-warning">Annulla</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
