<div class="content-wrapper">
  <div class="container-fluid">
    <!-- Breadcrumbs-->
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a routerLink="/dashboard">Dashboard</a>
      </li>
      <li class="breadcrumb-item">
        <a routerLink="/playground">Campi</a>
      </li>
      <li class="breadcrumb-item active">{{playground.name}} (view)</li>
    </ol>
    <div class="row">
      <div class="col-12">
        <form>
          <div class="form-group row">
            <label for="staticNome" class="col-sm-2 col-form-label">Nome</label>
            <div class="col-sm-10">
              <input type="text" readonly class="form-control-plaintext" id="staticNome" value="{{playground.name}}">
            </div>
          </div>

          <div class="form-group row">
            <label for="staticAttivita" class="col-sm-2 col-form-label">Attività</label>
            <div class="col-sm-10">
              <input type="text" readonly class="form-control-plaintext" id="staticAttivita" value="Padel">
            </div>
          </div>

          <div class="form-group row">
            <label for="staticTipo" class="col-sm-2 col-form-label">Tipo</label>
            <div class="col-sm-10">
              <input type="text" readonly class="form-control-plaintext" id="staticTipo" value="-">
            </div>
          </div>

          <div class="form-group row">
            <label for="staticImmagine" class="col-sm-2 col-form-label">Immagine</label>
            <div class="col-sm-2">
              <img src="./assets/img/placeholders/playground.jpg" class="img-fluid" *ngIf="!hasImage">
              <img src="{{imageUrl}}" class="img-fluid" *ngIf="hasImage">
            </div>
          </div>

          <!--<div class="form-group row">
            <label for="staticURLsponsor" class="col-sm-2 col-form-label">URL Sponsor</label>
            <div class="col-sm-10">
              <input type="text" readonly class="form-control-plaintext" id="staticURLsponsor" value="-">
            </div>
          </div>-->

          <div class="form-group row">
            <label for="staticOrdina" class="col-sm-2 col-form-label">Ordina</label>
            <div class="col-sm-10">
              <input type="text" readonly class="form-control-plaintext" id="staticOrdina" value="0">
            </div>
          </div>

          <div class="form-group row">
            <label for="staticDisp" class="col-sm-2 col-form-label">Abilitato</label>
            <div class="col-sm-2">
              <input type="checkbox" readonly class="form-control-plaintext" id="staticDisp" [checked]="playground.enabled">
            </div>
          </div>

          <div class="form-group row">
            <label for="staticFuiriCat" class="col-sm-2 col-form-label">Visibile</label>
            <div class="col-sm-2">
              <input type="checkbox" readonly class="form-control-plaintext" id="staticFuiriCat" [checked]="playground.visible">
            </div>
          </div>

          <!--<div class="form-group row">
            <label for="staticID2" class="col-sm-2 col-form-label">ID2</label>
            <div class="col-sm-10">
              <input type="text" readonly class="form-control-plaintext" id="staticID2" value="-">
            </div>
          </div>-->

          <div class="form-group row">
            <div class="col-sm-10">
              <a routerLink="/playground/edit/{{playground.id}}" class="btn btn-primary">Modifica</a>
            </div>
          </div>

        </form>
      </div>
    </div>
  </div>
</div>
