<div class="content-wrapper">
  <div class="container-fluid">
    <!-- Breadcrumbs-->
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a routerLink="/dashboard">Dashboard</a>
      </li>
      <li class="breadcrumb-item">
        <a routerLink="/user">Utenti</a>
      </li>
      <li class="breadcrumb-item active">{{user.name}} {{user.surname}} (view)</li>
    </ol>
    <div class="row">
      <div class="col-12">
        <form>
          <div class="form-group row">
            <label for="staticNome" class="col-sm-2 col-form-label">Nome</label>
            <div class="col-sm-10">
              <input type="text" readonly class="form-control-plaintext" id="staticNome" value="{{user.name}}">
            </div>
          </div>

          <div class="form-group row">
            <label for="staticCognome" class="col-sm-2 col-form-label">Cognome</label>
            <div class="col-sm-10">
              <input type="text" readonly class="form-control-plaintext" id="staticCognome" value="{{user.surname}}">
            </div>
          </div>



          <div class="form-group row">
            <label for="staticImmagine" class="col-sm-2 col-form-label">Immagine</label>
            <div class="col-sm-2">
              <img src="./assets/img/placeholders/user.jpg" class="rounded-circle" style="width:90px; height:90px;" *ngIf="!hasImage">
              <img src="{{imageUrl}}" class="rounded-circle" style="width:90px; height:90px;" *ngIf="hasImage">
            </div>
          </div>



          <div class="form-group row">
            <label for="sex" class="col-sm-2 col-form-label">Sesso</label>
            <div class="col-sm-10">
              <input type="text" readonly class="form-control-plaintext" id="sex" value="{{user.sex}}">
            </div>
          </div>

          <div class="form-group row">
            <label for="email" class="col-sm-2 col-form-label">Email</label>
            <div class="col-sm-10">
              <input type="text" readonly class="form-control-plaintext" id="email" name="email" [(ngModel)]="user.email">
            </div>
          </div>

          <div class="form-group row">
            <label for="address" class="col-sm-2 col-form-label">Address</label>
            <div class="col-sm-10">
              <input type="text" class="form-control-plaintext" readonly name="address" id="address" value="{{user.address}}">
            </div>
          </div>


          <div class="form-group row">
            <label for="city" class="col-sm-2 col-form-label">Citt&agrave;</label>
            <div class="col-sm-4">
              <input type="text" class="form-control-plaintext" readonly name="city" id="city" value="{{user.city}}">
            </div>

            <label for="cap" class="col-sm-2 col-form-label">Cap</label>
            <div class="col-sm-4">
              <input type="text" class="form-control-plaintext" readonly name="cap" id="cap" value="{{user.cap}}">
            </div>
          </div>


          <div class="form-group row">
            <label for="phone" class="col-sm-2 col-form-label">Telefono</label>
            <div class="col-sm-10">
              <input type="text" class="form-control-plaintext" readonly name="phone" id="phone" value="{{user.phone}}">
            </div>
          </div>


          <div class="form-group row">
            <label for="score" class="col-sm-2 col-form-label">Punteggio</label>
            <div class="col-sm-10">
              <input type="text" class="form-control-plaintext" readonly name="score" id="score" value="{{user.score}}">
            </div>
          </div>

          <div class="form-group row">
            <label for="phone" class="col-sm-2 col-form-label">Livello</label>
            <div class="col-sm-10">
              <input type="text" class="form-control-plaintext" readonly name="level" id="level" value="{{user.level}}">
            </div>
          </div>

          <div class="form-group row">
            <label for="phone" class="col-sm-2 col-form-label">Admin</label>
            <div class="col-sm-10">
              <input type="checkbox" name="isadmin" readonly [checked]="user.isadmin" [(ngModel)]="user.isadmin"/>
            </div>
          </div>





          <div class="form-group row">
            <div class="col-sm-10">
              <a routerLink="/user/edit/{{user.id}}" type="submit" class="btn btn-primary">Modifica</a>
            </div>
          </div>

        </form>
      </div>
    </div>
  </div>
</div>
