<div class="content-wrapper">
  <div class="container-fluid">
    <!-- Breadcrumbs-->
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a routerLink="/dashboard">Dashboard</a>
      </li>
      <li class="breadcrumb-item">
        <a routerLink="/prenotation">Prenotazioni</a>
      </li>
      <li class="breadcrumb-item active">{{prenotation.playground.name}} il {{prenotation.start | date: 'dd/MM/yyyy'}} dalle {{prenotation.start | date: 'HH:mm'}} alle {{prenotation.end | date: 'HH:mm'}} (view)</li>
    </ol>
    <div class="row">
      <div class="col-12">
        <form>
          <div class="form-group row">
            <label for="staticData" class="col-sm-2 col-form-label"><b>Data</b></label>
            <div class="col-sm-10">
              <input type="text" readonly class="form-control-plaintext" id="staticData" value="{{prenotation.start | date: 'dd/MM/yyyy'}}">
            </div>
          </div>

          <div class="form-group row">
            <label for="staticCampo" class="col-sm-2 col-form-label"><b>Campo</b></label>
            <div class="col-sm-10">
              <input type="text" readonly class="form-control-plaintext" id="staticCampo" value="{{prenotation.playground.name}}">
            </div>
          </div>

          <div class="form-group row">
            <label for="staticOrario" class="col-sm-2 col-form-label"><b>Orario</b></label>
            <div class="col-sm-10">
              <input type="text" readonly class="form-control-plaintext" id="staticOrario" value="{{prenotation.start | date: 'HH:mm'}} - {{prenotation.end | date: 'HH:mm'}}">
            </div>
          </div>

          <div class="form-group row">
            <label for="staticUtente" class="col-sm-2 col-form-label"><b>Utente</b></label>
            <div class="col-sm-10">
              <input type="text" readonly class="form-control-plaintext" id="staticUtente" value="{{prenotation.user.name}} {{prenotation.user.surname}}">
            </div>
          </div>

          <div class="form-group row">
            <label for="staticPlayer2" class="col-sm-2 col-form-label"><b>Player 2</b></label>
            <div class="col-sm-10">
              <input type="text" readonly class="form-control-plaintext" id="staticPlayer2" value="{{prenotation.player_2 | notnullname: users}}">
            </div>
          </div>
          <div class="form-group row">
            <label for="staticPlayer3" class="col-sm-2 col-form-label"><b>Player 3</b></label>
            <div class="col-sm-10">
              <input type="text" readonly class="form-control-plaintext" id="staticPlayer3" value="{{prenotation.player_3 | notnullname: users}}">
            </div>
          </div>
          <div class="form-group row">
            <label for="staticPlayer4" class="col-sm-2 col-form-label"><b>Player 4</b></label>
            <div class="col-sm-10">
              <input type="text" readonly class="form-control-plaintext" id="staticPlayer4" value="{{prenotation.player_4 | notnullname: users}}">
            </div>
          </div>

          <div class="form-group row" *ngIf="prenotation.note">
            <label for="note" class="col-sm-2 col-form-label"><b>Note</b></label>
            <div class="col-sm-10">
              <textarea readonly class="form-control-plaintext" id="note" value="{{prenotation.note}}"></textarea>
            </div>
          </div>


          <div class="form-group row">
            <div class="col-sm-10">
              <a routerLink="/prenotation/edit/{{prenotation.id}}" type="submit" class="btn btn-primary">Modifica</a>
            </div>
          </div>

        </form>
      </div>
    </div>
  </div>
</div>
