<div class="content-wrapper">
  <div class="container-fluid">
    <!-- Breadcrumbs-->
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a routerLink="/dashboard">Dashboard</a>
      </li>
      <li class="breadcrumb-item">
        <a routerLink="/order">Ordini</a>
      </li>
      <li class="breadcrumb-item active">Ordine n.{{order.id}} del {{order.created_at | date: 'dd/MM/yyyy'}} (edit)</li>
    </ol>
    <div class="row">
      <div class="col-12">
        <div class="col-12">
          <div class="card mb-3">
            <div class="card-header">
              Ordine n.{{order.id}} del {{order.created_at | date: 'dd/MM/yyyy'}}
            </div>
            <div class="card-body">
              <div class="row">
                <div class="col-12 col-sm-6">
                  <h5 class="card-title">Email</h5>
                  <p class="card-text">
                    <input type="email" readonly class="form-control-plaintext" value="{{order.user.email}}">
                  </p>

                  <h5 class="card-title">Data dell&rsquo;ordine</h5>
                  <p class="card-text">
                    <input class="form-control-plaintext" readonly type="text" value="{{order.created_at | date: 'dd/MM/yyyy'}}">
                  </p>

                </div>
                <div class="col-12 col-sm-6">

                  <h5 class="card-title">Numero di contatto</h5>
                  <p class="card-text">
                    <input class="form-control-plaintext" readonly type="text" value="{{order.user.phone}}">
                  </p>

                  <h5 class="card-title">Stato dell'ordine</h5>
                  <p class="card-text">
                    <span *ngIf="order.paid" class="text-success">Pagato</span>
                    <span *ngIf="!order.paid">
                      <a (click)="payOrder()" class="btn btn-success" style="cursor: pointer;">Paga</a>
                    </span>
                  </p>

                </div>
              </div>

              <hr/>

              <div class="row">
                <div class="col-12">
                  <h5 class="card-title">Riepilogo dell&rsquo;ordine</h5>
                  <table class="table table-bordered">

                    <tbody>
                      <tr *ngFor="let p of order.products">
                        <th scope="row" class="align-middle text-center">
                          <img src="./assets/img/placeholders/product.jpg" class="img-fluid" style="height:60px;" *ngIf="!p.hasImage">
                          <img src="{{p.imageUrl}}" class="img-fluid" style="height:60px;" *ngIf="p.hasImage">
                        </th>
                        <td class="align-middle">{{p.name}}</td>
                        <td class="align-middle">Quantità: <input id="qty-{{p.name}}" class="form-control" type="number" name="qty" [(ngModel)]="p.pivot.qty"></td>
                        <td class="align-middle text-right"> € {{getPartialPrice(p)}}</td>
                        <td class="align-middle text-center"><a (click)="removeOrderElement(p)" style="cursor: pointer;"><i title="Elimina" class="fa fa-trash-o text-danger"></i></a></td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
              <div class="row justify-content-end">
                <div class="col-6">
                  <ul class="list-group list-group-flush">
                    <li class="list-group-item d-flex justify-content-between align-items-center"><b>TOTALE:</b> <span><b>€ {{getOrderPrice(order)}}</b></span></li>
                  </ul>
                </div>
              </div>
            </div>

          </div>
          <div class="form-group row">
            <div class="col-sm-10">
              <a (click)="updateOrder()" class="btn btn-primary">Salva</a>
              <a routerLink="/order" class="btn btn-warning">Annulla</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
