<div class="content-wrapper">
  <div class="container-fluid">
    <!-- Breadcrumbs-->
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a routerLink="/dashboard">Dashboard</a>
      </li>
      <li class="breadcrumb-item">
        <a routerLink="/product">Prodotti</a>
      </li>
      <li class="breadcrumb-item active">{{product.name}} (view)</li>
    </ol>
    <div class="row">
      <div class="col-12">
        <form>

          <div class="form-group row">
            <label for="preImmagine" class="col-sm-2 col-form-label">Immagine</label>
            <div class="col-sm-3">
              <img src="./assets/img/placeholders/product.jpg" class="img-thumbnail" *ngIf="!hasImage">
              <div *ngIf="hasImage">
                <img src="{{imageUrl}}" class="img-thumbnail" >
                <button class="btn btn-danger btn-block btn-sm mt-3" (click)="removeMedia()">Rimuovi</button>
              </div>
            </div>

            <div class="col-sm-7">
              <image-upload
                [url]="'/api/media/product/' + product.id"
                [headers]="{Authorization: 'Bearer ' + token}"
                [max]="100"
                [extensions]="['jpg', 'png']"
                [maxFileSize]="2048000"
                [fileTooLargeMessage]="'Immagine troppo grande, massima dimensione consentita 2MB'"
                (uploadFinished)="onUploadFinished($event)">
              </image-upload>
            </div>
          </div>

          <div class="form-group row">
            <label for="staticDesc" class="col-sm-2 col-form-label"><b>Descrizione</b></label>
            <div class="col-sm-10">
                  <textarea rows="3" type="text" readonly class="form-control-plaintext" id="staticDesc">{{product.description}}</textarea>
            </div>
          </div>


          <div class="form-group row">
            <label for="staticPrezzo" class="col-sm-2 col-form-label"><b>Prezzo</b></label>
            <div class="col-sm-10">
              <input type="text" readonly class="form-control-plaintext" id="staticPrezzo" value="{{product.price}}">
            </div>
          </div>

          <div class="form-group row">
            <div class="col-sm-10">
              <a routerLink="/product/edit/{{product.id}}" type="submit" class="btn btn-primary">Modifica</a>
            </div>
          </div>

        </form>
      </div>
    </div>
  </div>
</div>
