<app-navbar></app-navbar>
<div class="wrapper">
  <div class="sidebar">
    <!--<app-sidebar-cmp></app-sidebar-cmp>-->
  </div>
  <div class="main-panel">
    <!--<app-navbar></app-navbar>-->
    <router-outlet></router-outlet>
  </div>
</div>



