<div class="content-wrapper">
  <div class="container-fluid">
    <!-- Breadcrumbs-->
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a routerLink="/dashboard">Dashboard</a>
      </li>
      <li class="breadcrumb-item active">My Dashboard</li>
    </ol>
    <!-- Icon Cards-->
    <div class="row">
      <div class="col-xl-3 col-sm-6 mb-3">
        <div class="card text-white bg-primary o-hidden h-100">
          <div class="card-body">
            <div class="card-body-icon">
              <i class="fa fa-fw fa-bell"></i>
            </div>
            <div class="mr-5">Prenotazioni</div>
          </div>
          <a class="card-footer text-white clearfix small z-1" routerLink="/prenotation">
            <span class="float-left">Vedi tutte</span>
            <span class="float-right">
                <i class="fa fa-angle-right"></i>
              </span>
          </a>
        </div>
      </div>
      <div class="col-xl-3 col-sm-6 mb-3">
        <div class="card text-white bg-warning o-hidden h-100">
          <div class="card-body">
            <div class="card-body-icon">
              <i class="fa fa-fw fa-shopping-basket"></i>
            </div>
            <div class="mr-5">Prodotti</div>
          </div>
          <a class="card-footer text-white clearfix small z-1" routerLink="/product">
            <span class="float-left">Vedi tutti</span>
            <span class="float-right">
                <i class="fa fa-angle-right"></i>
              </span>
          </a>
        </div>
      </div>
      <div class="col-xl-3 col-sm-6 mb-3">
        <div class="card text-white bg-success o-hidden h-100">
          <div class="card-body">
            <div class="card-body-icon">
              <i class="fa fa-fw fa-th-large"></i>
            </div>
            <div class="mr-5">Campi</div>
          </div>
          <a class="card-footer text-white clearfix small z-1" routerLink="/playground">
            <span class="float-left">Vedi tutti</span>
            <span class="float-right">
                <i class="fa fa-angle-right"></i>
              </span>
          </a>
        </div>
      </div>
      <div class="col-xl-3 col-sm-6 mb-3">
        <div class="card text-white bg-danger o-hidden h-100">
          <div class="card-body">
            <div class="card-body-icon">
              <i class="fa fa-fw fa-users"></i>
            </div>
            <div class="mr-5">utenti</div>
          </div>
          <a class="card-footer text-white clearfix small z-1" routerLink="/user">
            <span class="float-left">Vedi tutti</span>
            <span class="float-right">
                <i class="fa fa-angle-right"></i>
              </span>
          </a>
        </div>
      </div>
    </div>
    <!-- Area Chart Example-->
    <div class="card mb-3">
      <div class="card-header">
        <i class="fa fa-area-chart"></i> Andamento prenotazioni</div>
      <div class="card-body">
        <canvas id="myAreaChart" width="100%" height="30"></canvas>
      </div>
      <div class="card-footer small text-muted">Aggiornato ieri alle 11:59</div>
    </div>

  </div>
</div>
