<div class="content-wrapper">
  <div class="container-fluid">
    <!-- Breadcrumbs-->
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a routerLink="/dashboard">Dashboard</a>
      </li>
      <li class="breadcrumb-item active">Utenti</li>
    </ol>
    <!-- Example DataTables Card-->
    <div class="card mb-3">
      <div class="card-header">
        <span class="float-left">
          <i class="fa fa-table"></i> Utenti
        </span>
        <span class="float-right">
          <a routerLink="/user/add"><i class="fa fa-plus-circle"></i> Add</a>
        </span>
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
            <thead>
            <tr>

              <th>Nome</th>
              <th>Cognome</th>
              <th>Sesso</th>
              <th>Livello</th>
              <th>Azioni</th>
            </tr>
            </thead>

            <tbody>
            <tr *ngFor="let u of userList | slice:startIndex:lastIndex">
              <td>{{u.name}}</td>
              <td>{{u.surname}}</td>
              <td>
                <span *ngIf="u.sex == 'M'">Maschio</span>
                <span *ngIf="u.sex == 'F'">Femmina</span>
              </td>
              <td>Avanzato</td>
              <td>
                <a class="mr-3" routerLink="/user/view/{{u.id}}"><i title="Visualizza" class="fa fa-eye text-primary"></i></a>
                <a class="mr-3" routerLink="/user/edit/{{u.id}}"><i title="Modifica" class="fa fa-pencil-square-o text-success"></i></a>
                <a style="cursor: pointer" (click)="openModal(u)"><i title="Elimina" class="fa fa-trash-o text-danger"></i></a>
              </td>
            </tr>

            </tbody>
          </table>
        </div>

        <app-paginator></app-paginator>

      </div>

    </div>
  </div>
</div>
