<div class="container">
  <div class="row justify-content-center mt-3">
    <div class="col-6 col-sm-4 col-lg-2">
      <img class="img-fluid" src="./assets/img/logo.png">
    </div>
  </div>
  <div class="card card-login mx-auto mt-3">
    <div class="card-header">Login</div>
    <div class="card-body">
      <form>
        <div class="form-group">
          <label for="email">Email</label>
          <input class="form-control" id="email" type="email" placeholder="Enter email" name="email" [(ngModel)]="credentials.email">
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input class="form-control" id="password" type="password" placeholder="Password" name="password" [(ngModel)]="credentials.password">
        </div>
        <a class="btn btn-primary btn-block" (click)="login()">Login</a>

        <div class="alert alert-danger" *ngIf="hasError" style="margin-top: 20px;">
          {{error}}
        </div>
      </form>
    </div>
  </div>
</div>
