<div class="content-wrapper">
  <div class="container-fluid">
    <!-- Breadcrumbs-->
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a routerLink="/dashboard">Dashboard</a>
      </li>
      <li class="breadcrumb-item">
        <a routerLink="/product">Prodotti</a>
      </li>
      <li class="breadcrumb-item active">Nuovo prodotto (add)</li>
    </ol>
    <div class="row">
      <div class="col-12">
        <form>

          <div class="form-group row">
            <label for="preImmagine" class="col-sm-2 col-form-label">Immagine</label>
            <div class="col-sm-3">
              <img src="./assets/img/placeholders/product.jpg" class="img-thumbnail" *ngIf="!hasImage">
              <div *ngIf="hasImage">
                <img src="{{imageUrl}}" class="img-thumbnail" >
                <button class="btn btn-danger btn-block btn-sm mt-3" (click)="removeMedia()">Rimuovi</button>
              </div>
            </div>

            <div class="col-sm-7">
              <image-upload
                [url]="'/api/media/product/' + product.id"
                [headers]="{Authorization: 'Bearer ' + token}"
                [max]="100"
                [extensions]="['jpg', 'png']"
                [maxFileSize]="2048000"
                [fileTooLargeMessage]="'Immagine troppo grande, massima dimensione consentita 2MB'"
                (uploadFinished)="onUploadFinished($event)">
              </image-upload>
            </div>
          </div>

          <div class="form-group row">
            <label for="preNome" class="col-sm-2 col-form-label">Nome</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="preNome" name="name" [(ngModel)]="product.name">
            </div>
          </div>

          <div class="form-group row">
            <label for="preDesc" class="col-sm-2 col-form-label">Descrizione</label>
            <div class="col-sm-10">
              <textarea type="text" class="form-control" id="preDesc" name="description" [(ngModel)]="product.description"></textarea>
            </div>
          </div>

          <div class="form-group row">
            <label for="prePrezzo" class="col-sm-2 col-form-label">Prezzo in euro</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="prePrezzo" name="price" [(ngModel)]="product.price">
            </div>
          </div>
          <div class="form-group row">
            <div class="col-sm-10">
              <a (click)="saveProduct()" class="btn btn-primary">Salva</a>
              <a routerLink="/product" class="btn btn-warning">Annulla</a>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
