<div class="content-wrapper">
  <div class="container-fluid">
    <!-- Breadcrumbs-->
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a routerLink="/dashboard">Dashboard</a>
      </li>
      <li class="breadcrumb-item">
        <a routerLink="/playground">Campi</a>
      </li>
      <li class="breadcrumb-item active">Nuovo campo (add)</li>
    </ol>
    <div class="row">
      <div class="col-12">
        <form>

          <div class="form-group row">
            <label for="preNome" class="col-sm-2 col-form-label">Nome</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="preNome" name="name" [(ngModel)]="playground.name">
            </div>
          </div>

          <div class="form-group row">
            <label for="preAttivita" class="col-sm-2 col-form-label">Attività</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="preAttivita" value="Padel">
            </div>
          </div>

          <div class="form-group row">
            <label for="preTipo" class="col-sm-2 col-form-label">Tipo</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="preTipo" value="">
            </div>
          </div>

          <div class="form-group row">
            <label for="preImmagine" class="col-sm-2 col-form-label">Immagine</label>
            <div class="col-sm-3">
              <img src="./assets/img/placeholders/playground.jpg" class="img-fluid" *ngIf="!hasImage">
              <div *ngIf="hasImage">
                <img src="{{imageUrl}}" class="img-fluid" >
                <button class="btn btn-danger btn-block btn-sm mt-3" (click)="removeMedia()">Rimuovi</button>
              </div>
            </div>

            <div class="col-sm-7">
              <image-upload
                [url]="'/api/media/playground/' + playground.id"
                [headers]="{Authorization: 'Bearer ' + token}"
                [max]="100"
                [extensions]="['jpg', 'png']"
                [maxFileSize]="2048000"
                [fileTooLargeMessage]="'Immagine troppo grande, massima dimensione consentita 2MB'"
                (uploadFinished)="onUploadFinished($event)">
              </image-upload>
            </div>
          </div>

          <div class="form-group row">
            <label for="preOrdina" class="col-sm-2 col-form-label">Ordina</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="preOrdina" value="0">
            </div>
          </div>

          <div class="form-group row">
            <label for="preDisp" class="col-sm-2 col-form-label">Abilitato</label>
            <div class="col-sm-10">
              <div class="form-check mt-2">
                <input class="form-check-input" type="checkbox" id="preDisp" name="enabled" [(ngModel)]="playground.enabled">
              </div>
            </div>
          </div>

          <div class="form-group row">
            <label for="preFuoriCat" class="col-sm-2 col-form-label">Visibile</label>
            <div class="col-sm-10">
              <div class="form-check mt-2">
                <input class="form-check-input" type="checkbox" id="preFuoriCat" name="visible" [(ngModel)]="playground.visible">
              </div>
            </div>
          </div>

          <!--<div class="form-group row">
            <label for="preID2" class="col-sm-2 col-form-label">ID2</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="preID2" value="">
            </div>
          </div>-->

          <div class="form-group row">
            <div class="col-sm-10">
              <a class="btn btn-primary" (click)="savePlayground()">Salva</a>
              <a class="btn btn-warning" routerLink="/playground">Annulla</a>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
