<div class="content-wrapper">
  <div class="container-fluid">
    <!-- Breadcrumbs-->
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a routerLink="/dashboard">Dashboard</a>
      </li>
      <li class="breadcrumb-item">
        <a routerLink="/user">Utenti</a>
      </li>
      <li class="breadcrumb-item active">{{user.name}} {{user.surname}} (edit)</li>
    </ol>
    <div class="row">
      <div class="col-12">
        <form>

          <div class="form-group row">
            <label for="preNome" class="col-sm-2 col-form-label">Nome</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="preNome" name="name" [(ngModel)]="user.name">
            </div>
          </div>

          <div class="form-group row">
            <label for="preAttivita" class="col-sm-2 col-form-label">Cognome</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="preAttivita" name="surname" [(ngModel)]="user.surname">
            </div>
          </div>

          <div class="form-group row">
            <label for="preImmagine" class="col-sm-2 col-form-label">Immagine</label>
            <div class="col-sm-2">
              <img src="./assets/img/placeholders/user.jpg" class="rounded-circle" style="width:90px; height:90px;" *ngIf="!hasImage">
              <div *ngIf="hasImage">
                <img src="{{imageUrl}}" class="rounded-circle" style="width:90px; height:90px;" >
                <button class="btn btn-danger btn-block btn-sm mt-3" (click)="removeMedia()">Rimuovi</button>
              </div>
            </div>

            <div class="col-sm-8">
              <image-upload
                [url]="'/api/media/user/' + user.id"
                [headers]="{Authorization: 'Bearer ' + token}"
                [max]="100"
                [extensions]="['jpg', 'png']"
                [maxFileSize]="2048000"
                [fileTooLargeMessage]="'Immagine troppo grande, massima dimensione consentita 2MB'"
                (uploadFinished)="onUploadFinished($event)">
              </image-upload>
            </div>
          </div>

          <div class="form-group row">
            <label for="email" class="col-sm-2 col-form-label">Email</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="email" name="email" [(ngModel)]="user.email">
            </div>
          </div>

          <div class="form-group row">
            <label for="sex" class="col-sm-2 col-form-label">Sesso</label>
            <div class="col-sm-10">
              <select name="sex" id="sex" [(ngModel)]="user.sex" >
                <option value="M">Maschio</option>
                <option value="F">Femmina</option>
              </select>
            </div>
          </div>


          <div class="form-group row">
            <label for="address" class="col-sm-2 col-form-label">Address</label>
            <div class="col-sm-10">
              <input type="text" name="address" id="address" [(ngModel)]="user.address">
            </div>
          </div>


          <div class="form-group row">
            <label for="city" class="col-sm-2 col-form-label">Citt&agrave;</label>
            <div class="col-sm-4">
              <input type="text" name="city" id="city" [(ngModel)]="user.city">
            </div>

            <label for="cap" class="col-sm-2 col-form-label">Cap</label>
            <div class="col-sm-4">
              <input type="text" name="cap" id="cap" [(ngModel)]="user.cap">
            </div>
          </div>


          <div class="form-group row">
            <label for="phone" class="col-sm-2 col-form-label">Telefono</label>
            <div class="col-sm-10">
              <input type="text" name="phone" id="phone" [(ngModel)]="user.phone">
            </div>
          </div>

          <div class="form-group row">
            <label for="score" class="col-sm-2 col-form-label">Punteggio</label>
            <div class="col-sm-10">
              <input type="text" name="score" id="score" [(ngModel)]="user.score">
            </div>
          </div>

          <div class="form-group row">
            <label for="level" class="col-sm-2 col-form-label">Livello</label>
            <div class="col-sm-10">
              <input type="text" name="level" id="level" [(ngModel)]="user.level">
            </div>
          </div>


          <div class="form-group row">
            <label for="phone" class="col-sm-2 col-form-label">Admin</label>
            <div class="col-sm-10">
              <input type="checkbox" name="admin" [checked]="user.isadmin" [(ngModel)]="user.isadmin"/>
            </div>
          </div>



          <div class="form-group row">
            <div class="col-sm-10">
              <a (click)="saveUser()" type="submit" class="btn btn-primary">Salva</a>
              <a routerLink="/user" type="submit" class="btn btn-warning">Annulla</a>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
