<app-navbar *ngIf="visible"></app-navbar>
<router-outlet></router-outlet>
<ng2-toasty [position]="'bottom-center'"></ng2-toasty>
<app-modal></app-modal>
<ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '0px', fullScreenBackdrop: true }"></ngx-loading>
<!--<app-footer></app-footer>-->
