<div class="content-wrapper">
  <div class="container-fluid">
    <!-- Breadcrumbs-->
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a routerLink="/dashboard">Dashboard</a>
      </li>
      <li class="breadcrumb-item active">Ordini</li>
    </ol>
    <!-- Example DataTables Card-->
    <div class="card mb-3">
      <div class="card-header">
        <span class="float-left">
          <i class="fa fa-table"></i> Ordini
        </span>
        <span class="float-right">
          <a routerLink="/order/add"><i class="fa fa-plus-circle"></i> Add</a>
        </span>
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
            <thead>
            <tr>
              <th>N. ordine</th>
              <th>Data</th>
              <th>Acquirente</th>
              <th>Costo totale</th>
              <th>Azioni</th>
            </tr>
            </thead>

            <tbody>
            <tr *ngFor="let o of orderList" [ngClass]="{'table-success': o.paid == 1}">
              <td class="align-middle">{{o.id}}</td>
              <td class="align-middle">{{o.created_at | date: "dd/MM/yyyy"}}</td>
              <td class="align-middle">{{o.user.name}} {{o.user.surname}}</td>
              <td class="align-middle">&euro; {{getOrderPrice(o)}}</td>
              <td class="align-middle text-center">
                <a class="mr-3" routerLink="/order/view/{{o.id}}"><i title="Visualizza" class="fa fa-eye text-primary"></i></a>
                <a class="mr-3" routerLink="/order/edit/{{o.id}}"><i title="Modifica" class="fa fa-pencil-square-o text-success"></i></a>
                <a (click)="openModal(o)" style="cursor:pointer;"><i title="Elimina" class="fa fa-trash-o text-danger"></i></a>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>

    </div>
  </div>
</div>
