<div class="content-wrapper">
  <div class="container-fluid">
    <!-- Breadcrumbs-->
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a routerLink="/dashboard">Dashboard</a>
      </li>
      <li class="breadcrumb-item">
        <a routerLink="/order">Ordini</a>
      </li>
      <li class="breadcrumb-item active">Ordine n.{{order.id}} del {{order.created_at | date: "dd/MM/yyyy"}} (view)</li>
    </ol>
    <div class="row">
      <div class="col-12">
        <div class="card mb-3">
          <div class="card-header">
            Ordine n.{{order.id}} del {{order.created_at | date: "dd/MM/yyyy"}}
          </div>
          <div class="card-body">
            <div class="row">
              <div class="col-12 col-sm-6">
                <h5 class="card-title">Email</h5>
                <p class="card-text">{{order.user.email}}</p>

                <h5 class="card-title">Data dell&rsquo;ordine</h5>
                <p class="card-text">{{order.created_at | date: "dd/MM/yyyy"}}</p>
              </div>
              <div class="col-12 col-sm-6">
                <h5 class="card-title">Numero di contatto</h5>
                <p class="card-text">{{order.user.phone}}</p>

                <h5 class="card-title">Totale dell&rsquo;ordine</h5>
                <p class="card-text">&euro; {{getOrderPrice(order)}}</p>

                <h5 class="card-title">Stato dell'ordine</h5>
                <p class="card-text">
                  <span *ngIf="order.paid" class="text-success">Pagato</span>
                  <span *ngIf="!order.paid" class="text-danger">Non Pagato</span>
                </p>
              </div>
            </div>
            <hr/>
            <div class="row">
              <div class="col-12">
                <h5 class="card-title">Riepilogo dell&rsquo;ordine</h5>
                <table class="table table-bordered">

                  <tbody>
                    <tr *ngFor="let p of order.products">
                      <th scope="row" class="align-middle text-center">
                        <img src="./assets/img/placeholders/product.jpg" class="img-fluid" style="height:60px;" *ngIf="!p.hasImage">
                        <img src="{{p.imageUrl}}" class="img-fluid" style="height:60px;" *ngIf="p.hasImage">
                      </th>
                      <td class="align-middle">{{p.name}}</td>
                      <td class="align-middle">Quantità: {{p.pivot.qty}}</td>
                      <td class="align-middle text-right">&euro; {{getPartialPrice(p)}}</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
            <div class="row justify-content-end">
              <div class="col-6">
                <ul class="list-group list-group-flush">
                  <li class="list-group-item d-flex justify-content-between align-items-center"><b>TOTALE:</b> <span><b>&euro; {{getOrderPrice(order)}}</b></span></li>
                </ul>
              </div>
            </div>
          </div>

        </div>
        <div class="form-group row">
          <div class="col-sm-10">
            <a routerLink="/order/edit/{{order.id}}" type="submit" class="btn btn-primary">Modifica</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
