<div class="content-wrapper">
  <div class="container-fluid">
    <!-- Breadcrumbs-->
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a routerLink="/dashboard">Dashboard</a>
      </li>
      <li class="breadcrumb-item active">Prenotazioni</li>
    </ol>
    <!-- Example DataTables Card-->
    <div class="card mb-3">
      <div class="card-header">
        <span class="float-left">
          <i class="fa fa-table"></i> Prenotazioni
        </span>
        <span class="float-right">
          <a (click)="reloadPrenotation()" style="cursor: pointer;"><i class="fa fa-refresh"></i> Ricarica</a>
        </span>
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-sm-4">
            <div class="form-group">
              <div class="input-group">
                <input class="form-control" id="staticData" placeholder="{{calendarDate | date: 'dd/MM/yyyy'}}"
                       name="d2" #c2="ngModel"
                       [navigation]="arrows"
                       [startDate]="today"
                       [(ngModel)]="calendarDate"
                       value="{{calendarDateString | date:'dd/MM/yyyy'}}"
                       (ngModelChange)="calendarSelect($event)"
                       (click)="d2.toggle()"
                       ngbDatepicker
                       #d2="ngbDatepicker">
                <div class="input-group-append">
                  <button class="btn btn-outline-secondary" (click)="d2.toggle()" type="button">
                    <i class="fa fa-calendar"></i>
                  </button>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-8">
            <ul class="navbar-nav mr-auto" style="display: inline-block;">
              <!--<li class="nav-item list-inline-item">
                <a class="nav-link" (click)="setPrevDay()"><span class="badge badge-primary">Giorno -</span></a>
              </li>-->
              <li class="nav-item list-inline-item">
                <a class="nav-link" (click)="setYesterday()" style="cursor: pointer;"><span class="badge badge-primary">Ieri</span></a>
              </li>
              <li class="nav-item list-inline-item">
                <a class="nav-link" (click)="setToday()" style="cursor: pointer;"><span class="badge badge-primary">Oggi</span></a>
              </li>
              <li class="nav-item list-inline-item">
                <a class="nav-link" (click)="setTomorrow()" style="cursor: pointer;"><span class="badge badge-primary">Domani</span></a>
              </li>
              <!--<li class="nav-item list-inline-item">
                <a class="nav-link" (click)="setNextDay()"><span class="badge badge-primary">Giorno +</span></a>
              </li>-->
            </ul>
          </div>
        </div>
        <div class="col-sm-12">

          <div class="table-responsive-lg">
            <table class="table table-hover table-bordered table-sm text-center small" *ngIf="prenotationList">
              <thead>
              <tr>
                <th scope="col" style="width:10%"></th>
                <th scope="col" *ngFor="let p of playgrounds">{{p.name}}</th>
                <th scope="col" style="width:10%"></th>
              </tr>
              </thead>
              <tbody style="font-size:70%">

                <tr *ngFor="let t of prenotationList.times">
                  <th scope="row">{{t.label}}</th>
                  <td *ngFor="let p of t.playgrounds"
                      [ngClass]="{
                      'table-info': !p.enabled,
                      'table-active': p.enabled && !p.game,
                      'table-success': p.enabled && p.game && p.game.length == 1 && p.game[0].confirmed == 1,
                      'table-warning': p.enabled && p.game && p.game.length == 1 && p.game[0].confirmed == 0,
                      'table-danger': p.enabled && p.game && p.game.length > 1}">


                    <div *ngIf="p.game && p.game.length > 1">
                      <div *ngFor="let g of p.game"
                           triggers="mouseenter:mouseleave"
                           popoverTitle="Prenotazione numero {{g.id}}"
                           [ngbPopover]="popContent">
                        <ng-template #popContent>
                          <div class="content">
                            <p>{{g.name}}</p>
                            <p>Dalle <b>{{g.start | date: "HH:mm"}}</b> alle <b>{{g.end | date: "HH:mm"}}</b></p>
                            <p>Giocatori:</p>
                            <ul style="list-style-type: none;">
                              <li>Giocatore 1 - <b>{{g.user.name}} {{g.user.surname}}</b></li>
                              <li>Giocatore 2 - {{g.player_2 | notnullname}}</li>
                              <li>Giocatore 3 - {{g.player_3 | notnullname}}</li>
                              <li>Giocatore 4 - {{g.player_4 | notnullname}}</li>
                            </ul>
                            <p *ngIf="g.note">{{g.note}}</p>
                          </div>
                        </ng-template>
                        <a *ngIf="g.confirmed" routerLink="/prenotation/view/{{g.id}}"><span>{{g.user.name}} {{g.user.surname}}</span></a>
                        <a *ngIf="!g.confirmed" routerLink="/prenotation/edit/{{g.id}}"><span>{{g.user.name}} {{g.user.surname}}</span></a>
                      </div>
                    </div>

                    <div *ngIf="p.game && p.game.length == 1">
                      <div
                           triggers="mouseenter:mouseleave"
                           popoverTitle="Prenotazione numero {{p.game[0].id}}"
                           [ngbPopover]="popContent">
                        <ng-template #popContent>
                          <div class="content">
                            <p>{{p.game[0].name}}</p>
                            <p>Dalle <b>{{p.game[0].start | date: "HH:mm"}}</b> alle <b>{{p.game[0].end | date: "HH:mm"}}</b></p>
                            <p>Giocatori:</p>
                            <ul style="list-style-type: none;">
                              <li>Giocatore 1 - <b>{{p.game[0].user.name}} {{p.game[0].user.surname}}</b></li>
                              <li>Giocatore 2 - <b>{{p.game[0].player_2 | notnullname: users}} </b></li>
                              <li>Giocatore 3 - <b>{{p.game[0].player_3 | notnullname: users}}</b></li>
                              <li>Giocatore 4 - <b>{{p.game[0].player_4 | notnullname: users}}</b></li>
                            </ul>
                            <hr/>
                            <p *ngIf="p.game[0].note">{{p.game[0].note}}</p>
                          </div>
                        </ng-template>
                        <a *ngIf="p.game[0].confirmed" routerLink="/prenotation/view/{{p.game[0].id}}"><span>{{p.game[0].user.name}} {{p.game[0].user.surname}}</span></a>
                        <a *ngIf="!p.game[0].confirmed" routerLink="/prenotation/edit/{{p.game[0].id}}"><span>{{p.game[0].user.name}} {{p.game[0].user.surname}}</span></a>
                      </div>
                    </div>


                    <span *ngIf="!p.game && p.enabled"><a [routerLink]="['/prenotation/add', {start : t.value, playground: p.id}]">{{t.label}}</a></span>
                  </td>
                  <th scope="row">{{t.label}}</th>
                </tr>
              </tbody>
            </table>
          </div>
          <ul class="navbar-nav mr-auto legend" style="display: block;">
            <li class="nav-item list-inline-item" style="display: inline-block">
              <small><span style="width:12px; height:12px;" class="table-success float-left mr-1"></span> <span style="margin-top:-4px" class="float-left">Prenotato</span></small>
            </li>
            <li class="nav-item list-inline-item" style="display: inline-block">
              <small><span style="width:12px; height:12px;" class="table-warning float-left mr-1"></span> <span style="margin-top:-4px" class="float-left">Prenotazione pendente</span></small>
            </li>
            <li class="nav-item list-inline-item" style="display: inline-block">
              <small><span style="width:12px; height:12px;" class="table-danger float-left mr-1"></span> <span style="margin-top:-4px" class="float-left">Sovrapposizione</span></small>
            </li>
            <li class="nav-item list-inline-item" style="display: inline-block">
              <small><span style="width:12px; height:12px;" class="table-active float-left mr-1"></span> <span style="margin-top:-4px" class="float-left">Slot libero</span></small>
            </li>
            <li class="nav-item list-inline-item" style="display: inline-block">
              <small><span style="width:12px; height:12px;" class="table-info float-left mr-1"></span> <span style="margin-top:-4px" class="float-left">Cambo disabilitato</span></small>
            </li>
          </ul>
        </div>
    </div>
  </div>
</div>
